header {
    background-color: #FFFBFF;
    color: #FF61CC;
    font-size: 150%;
    padding: 1px;
    text-align: center;
}

nav {
    background-color:#FF61CC;
    font-size: 110%;
    padding: 20px;
}

nav a {
    color: #FFFBFF;
    text-decoration: none;
    padding: 20px;
    
}

nav a:hover {
    background-color: #F6A9FF
}

a:hover {
    text-decoration: none;
}

/* For big background */
body {
    margin: 0;
}

main {
    background-color: #FFCAFE;
    font-size: 110%;
    padding: 5px;
    color: #A21E7D
}

main p {
    font-size: 110%;
    background-color: #FFFBFF;
    padding: 3px;
}

img {
    max-width: 100%;
    height: auto;
}

main a {
    color: #FF61CC 
}

footer {
    background-color:#FF61CC;
    font-size: 110%;
    padding: 5px;
    color: #FFFBFF
}
